.footer{
  background-image: url("/img/footer.svg");
  background-repeat: no-repeat;
  background-position: 0px -150px;
  background-size: 1800px 540px;
  z-index: -1;

  &__footer-inner{
    width: 100vw;
  }
  



 
}