.three-image-section{
  position: relative;
  width: 1100px;
  height: 1120px;
  margin-left:105px;
  background: linear-gradient(180deg, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);



  &__images{
    position: relative;
  }
 

  &__img-first{
    position: absolute;
    left: 107px;
    top: 117px;
    z-index: 1;

  }

  &__img-second{
    position: absolute;
    left: 373px;
    top: 46px;
    z-index: 2;
  }

  &__img-third{
    position: absolute;
    left: 640px;
    top: 117px;
  }

  
  &__marketing{
    position: relative;
  }

  &__marketing-heading{
  position: absolute;
  top: 415px;
  left: 250px;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #FFFFFF;
  }

  &__marketing-image{
    position: absolute;
    top: 442px;
    left: 405px;
  }

  &__marketing-button{
    position: absolute;
    top: 442px;
    left: 676px;

  }

 
&__about-rosario{
  position: relative;
}

&__about-rosario-image{
  position: absolute;
  top: 565px;
  left: 67px;
}

&__start{
  position: relative;
}

&__start-heading{
  position: absolute;
  top: 590px;
  left: 594px;
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  color: #FFFFFF;
  opacity: 0.7;
}

&__start-paragrapgh{
  position: absolute;
  top: 640px;
  left: 594px;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  color: #FFFFFF;
  opacity: 0.7;
  width: 315px;
height: 105px
}


&__thought{
  position: relative;
}

&__thought-image{
  position: absolute;
  top: 836px;
  left: 70px;
}


&__mark{
  position: relative;
}

&__mark-heading{
  position: absolute;
  top: 874px;
  left: 594px;
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  color: #FFFFFF;
  opacity: 0.7;
}

&__mark-paragrapgh{
  position: absolute;
  top: 915px;
  left: 594px;
  width: 315px;
  height: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  color: #FFFFFF;
  opacity: 0.7;

}
 

  



}